main.dark{
	.topnav{
		background-color: #D7CEC7;
	}
	.sidebar{
		background-color: #565656;
	}
	.sidebar #profile {
    background-color: #76323F;
	}
	main .topnav a.active{
		background-color: #7EABFF;
	}
}